.nav-bar{  
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
    border-top: 2rem solid var(--color-green-dark);
    border-bottom: 2px solid rgb(218, 217, 217);
    padding: 2rem 10rem;
}

.toggle{
    display: flex;   
    align-items: center;
    flex-direction: row-reverse;
    flex-grow: 1;
    padding-right: 2rem;
}

.toggle-icon{
    display: none;
    font-size: 3rem;
    color: var(--color-gray);
    cursor: pointer;
}

@media screen and (max-width:992px) {
    .nav-bar{
        flex-wrap: wrap;
    }
    .toggle{
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-height: 210px;
        overflow-y: hidden;
        transition: max-height 1s;
        padding: 0;
    }
    .toggle--hide{
        max-height: 0;
    }
    .nav-bar .toggle > *{
        margin: .5rem 0;
        
    }
    .nav-bar .toggle:first-child{
        margin-top: 1rem;
    }
    .toggle-icon{
        display: inline-block;
    }
}

@media screen and (max-width:400px) {
    .nav-bar{
        padding: 1.5rem 2.5rem;
    }
}