:root{
    --color-green-light: #93c588;
    --color-green-dark: #45A132;
    --color-yellow: #ffca1e;
    --color-gray-dark: rgb(75, 74, 74);
    --color-gray: gray;
    --color-gray-light: rgb(233, 232, 232);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
    color: var(--color-gray-dark);
}
